.add-word-container {

    width: 100%;
    height: calc(100% - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}

.word-component-header {

    color: white;
}

.word-container {

    display: flex;
    flex-direction: row;
    width: 350px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    pointer-events: auto;
}

.word-container select {
    
    margin-right: 10px;
}

.save-container {

    pointer-events: auto;
}

.fade-in {

    animation: fadeIn 1s;
}

@keyframes fadeIn {

    0% { opacity: 0; }
    100% { opacity: 1; }
}