<nav class="nav-bar">
  <a class="home-btn" [routerLink]="['/']" data-toggle="tooltip" data-placement="right" title="Home">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a *ngIf="isLoggedIn()" class="create-btn" [routerLink]="['/create-word']" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Create a new word">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
  <a class="guess-btn" [routerLink]="['/guess-articles']" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Guessing game">
    <i class="fa fa-question" aria-hidden="true"></i>
  </a>
  <a class="list-of-added-words-btn" data-toggle="modal" data-target="#exampleModal" (click)="showWordsList()" data-placement="right" title="List of added words">
    <i class="fa fa-list" aria-hidden="true"></i>
  </a>
  <a *ngIf="!isLoggedIn()" class="login-btn" [routerLink]="['/login']" routerLinkActive="active" data-placement="right" title="Login">
    <i class="fa fa-sign-in" aria-hidden="true"></i>
  </a>
  <a *ngIf="isLoggedIn()" class="login-btn" (click)="logout()" data-placement="right" title="Logout">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </a>
</nav>

<nav class="nav-bar-mobile">
  <button class="btn btn-dark fix-size" (click)="openMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <div class="menu" [ngClass]="{'logged-in-menu': isLoggedIn(), 'logged-out-menu': !isLoggedIn()}" *ngIf="menuOpened" (click)="closeMenu()">
    <a class="home-btn" [routerLink]="['/']" data-toggle="tooltip" data-placement="right" title="Home">
      Home
    </a>
    <a *ngIf="isLoggedIn()" class="create-btn"  [routerLink]="['/create-word']" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Create a new word">
      Add new word
    </a>
    <a class="guess-btn" [routerLink]="['/guess-articles']" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Guessing game">
      Guess the article
    </a>
    <a class="list-of-added-words-btn" data-toggle="modal" data-target="#exampleModal" (click)="showWordsList()" data-placement="right" title="List of added words">
      List of words
    </a>
    <a *ngIf="!isLoggedIn()" class="login-btn" [routerLink]="['/login']" routerLinkActive="active">
      Login
    </a>
    <a *ngIf="isLoggedIn()" class="login-btn" (click)='logout()'>
      Log out
    </a>
  </div>
</nav>
<!-- Modal -->
<div *ngIf="showList" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Word list. Count: {{ wordCount }} 
			<br/>
			Last entered word: {{ lastEnteredWord }}
		</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="words" *ngFor="let word of wordList">
          <span class="word">{{ word.article + ' ' + word.word }}</span>
          <a *ngIf="isLoggedIn()" class="delete-word" (click)="deleteWord(word.id, $event)">&times;</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <div class="list-loading-container" *ngIf="isLoading">
        <div class="loading-circle"></div>
      </div>
    </div>
  </div>
</div>