.articles-container {

    width: 100%;
    height: calc(100% - 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.guess-article-container {

    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #414141;
    -webkit-box-shadow: 9px 4px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 4px 30px -1px rgba(0,0,0,0.75);
    box-shadow: 9px 4px 30px -1px rgba(0,0,0,0.75);
    position: relative;
}

.start-game-container {

    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {

    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {

    animation: fadeOut 1s forwards;
}

.fade-in {

    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {

    0% { opacity: 1; }
    100% { opacity: 0; }
}

.start-game-container span {

    color: white;
    font-size: 3em;
    margin-bottom: 10px;
}

.slide-in {

    animation: slideIn 1s forwards;
}

@keyframes slideIn {

    0% { width: 0; }
    100% { width: 100%; }
}

.hide {

    opacity: 0;
}

.loading-bar-container {

    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    animation: loadingBar 2s infinite alternate;
}

@keyframes loadingBar {

    25% { border-left: 1px solid #d25b5b; }
    50% { border-top: 1px solid #d25b5b; }
    75% { border-right: 1px solid #d25b5b; }
    100% { border-bottom: 1px solid #d25b5b; }
}