.article-word {

    color: white;
    font-size: 3em;
    text-align: center;
}

.article-choices {

    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.answer-fade-in {

    animation: fadeOutAndIn 1.5s forwards;
}

@keyframes fadeOutAndIn {

    50% { opacity: 0; }
    100% { opacity: 1; }
}