.article-word {

    color: white;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.article-choices {

    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
}

.answer-fade-in {

    animation: fadeOutAndIn 1.5s forwards;
}

@keyframes fadeOutAndIn {

    50% { opacity: 0; }
    100% { opacity: 1; }
}

.next-word-fade-in {

    animation: fadeOutAndIn 2s forwards;
}

.guess-message-container {

    position: absolute;
    top: 30%;
    left: calc(50% - 1em);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.correct {

    color: #59b76f;
}

.incorrect {

    color: #d25b5b;
}

.fade-message-out {

    animation: fadeMessageOut 1s;
}

@keyframes fadeMessageOut {

    100% { opacity: 0; }
}

.fade-message-in {

    animation: fadeMessageIn 1s;
}

@keyframes fadeMessageIn {

    0% { opacity: 0; }
    100% { opacity: 1; }
}

.custom-modal-backdrop {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.custom-modal-content {

    width: 50%;
    height: 90%;
    margin-top: 50px;
    border: 1px solid rebeccapurple;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.custom-moda-title {

    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    border-bottom: 1px solid silver;
    margin-top: 10px;
}

.wrongly-guessed-words {

    width: 100%;
    padding: 15px 15px 0 15px;
}

.close-button {

    position: absolute;
    bottom: 10px;
    right: 10px;
}

.wrong-words-container {

    width: 95%;
    margin-left: 2.5%;
    height: 83%;
    border-bottom: 1px solid silver;
    overflow: auto;
}