<div class="guess-message-container" [ngClass]="{'fade-message-out': showNextWord, 'fade-message-in': showAnswer && !showNextWord}" *ngIf="showAnswer">
  <span class="correct" *ngIf="isCorrect">Correct!</span>
  <span class="incorrect" *ngIf="!isCorrect">Wrong!</span>
</div>
<div class="article-word" [ngClass]="{'next-word-fade-in': showNextWord}" *ngIf="listLoaded">
  <span [ngClass]="{'answer-fade-in': showAnswer}">{{ article }}</span>
  <span *ngIf="listLoaded"> {{ wordsList[wordFromListPosition].word }}</span>
</div>
<div class="article-choices">
  <button type="button" class="btn btn-primary" (click)="guess('der')" [disabled]="showAnswer">der</button>
  <button type="button" class="btn btn-danger" (click)="guess('die')" [disabled]="showAnswer">die</button>
  <button type="button" class="btn btn-success" (click)="guess('das')" [disabled]="showAnswer">das</button>
</div>

<div class="custom-modal-backdrop fade-message-in" *ngIf="gameExited">
  <div class="custom-modal-content">
    <div class="custom-moda-title">
      <h6>Wrongly guessed words</h6>
    </div>
    <div class="wrong-words-container">
      <div class="wrongly-guessed-words" *ngFor="let wordGuess of incorrectWords">
        Correct word <span class="correct">
          {{ wordGuess.correctArticle + ' ' + wordGuess.word }}
        </span>: Your guess <span class="incorrect">{{ wordGuess.guessedArticle }}</span>
      </div>
    </div>
    <div class="close-button">
      <button class="btn btn-dark" (click)="closeGame()">Close</button>
    </div>
  </div>
</div>