<div class="article-word" [ngClass]="{'next-word-fade-in': showNextWord}">
  <span [ngClass]="{'answer-fade-in': showAnswer}">{{ article }}</span>
  <span *ngIf="listLoaded"> {{ wordsList[wordFromListPosition].word }}</span>
</div>
<div class="article-choices">
  <button type="button" class="btn btn-primary" (click)="guess('der')">der</button>
  <button type="button" class="btn btn-danger" (click)="guess('die')">die</button>
  <button type="button" class="btn btn-success" (click)="guess('das')">das</button>
</div>